<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/gallery.css">
    <title>Hallo Seite</title>
</head>
<body>
    <header>
        <%- include('./partials/nav', {state:true}) %>
        <h1 class="headlineStyle"> LOOK AT THIS! </h1>
    </header>

    <main>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1577757244202-291c8957f9bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">Wer</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1571596825787-640e72bbb2f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">das</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">liest</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1572346688501-eb17c9798a5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">ist</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1527440421615-91c591c1c544?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doof</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1554972032-af375082b481?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDEyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!--  <div class="overlay">
                <div class="text">und</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1517776832751-0a7e6993de03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">stinkt</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1494178270175-e96de2971df9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDE1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">ganz</div>
            </div> -->
        </div>

        <div class="container">
            <img src="https://images.unsplash.com/photo-1517776832751-0a7e6993de03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doll</div>
            </div> -->
        </div>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doll</div>
            </div> -->
        </div>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1468971050039-be99497410af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDE4fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doll</div>
            </div> -->
        </div>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1578922427288-a47338083a57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDI1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doll</div>
            </div> -->
        </div>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1565476599063-a9b93037c7f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDMzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doll</div>
            </div> -->
        </div>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1642793891075-4f53583a2079?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDM3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doll</div>
            </div> -->
        </div>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1573573085764-4363c82b6b1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDU3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="bild" class="image">
            <!-- <div class="overlay">
                <div class="text">doll</div>
            </div> -->
        </div>

    </main>
</body>
</html>