<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Hallo Seite</title>
</head>
<body>
    <header>
        
        <a href="./about"> <h1 class="woha headlineStyle"> WOHA! </h1></a>
        
    </header>
    
</body>
</html>