@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

nav{
    margin: 0 ;
}

header {
    text-align: center;
    margin-top: 5vh;
}
hr{
    color: yellow;
}

.headlineStyle{
    margin: 5vh 15vw;
   /*  transform: translate(-50%, -50%); */
    font-size: 10em;
    text-align: center;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px yellow, 20px 20px deeppink;
    font-family: 'Raleway', sans-serif;
}
